html {
    background: #fff;
}

body {
    font-size: 16px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 2em 2em 4em;
    
}

header {
    background-image: url(img/background.png);
    padding: 2em 2em 2em;
}

section.section1 {
    background-color: #4cdbd0;
    min-height: 100vh;
    margin: 2em;
        
}

section.section2 {
    background-color: rgb(110, 229, 160);
    min-height: 100vh;
    margin: 2em;
    padding: 5em;
    
}

p {
   font-weight: 700;
    text-align: justify;
}

img {
    width: 20em;
    padding: 2em;
    float: left;
}


div.fio {
    border: 1px dashed #fff;
    background: #4813f8;
    color: #fff;
    
    width: 10em;
    height: 10em;
    
    line-height: 10em;
    text-align: center;
    font-weight: 900;
    
    margin-left: -5em;
    margin-top: 0em;
    
    position: absolute;
    top: 50%;
    left: 50%;
    
}