html {
    background: #fff;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    max-width: 100wv;
}

header {
    
}

section.section1 {
    background-color: #4cdbd0;
    background-image: url(img/background.png);
    background-size: contain;
    min-height: 100vh;
    max-width: 100wv;
}
.wrapper {
    width: 30rem;
    min-height: 100vh;
    border: 1px dashed grey;
    margin: 0 auto;
    padding: 2rem;
    color: beige;
}
    
section.section2 {
    
}


/*div.fio {
    border: 1px dashed #fff;
    background: #4813f8;
    color: #fff;
    
    width: 10em;
    height: 10em;
    
    line-height: 10em;
    text-align: center;
    font-weight: 900;
    
    margin-left: -5em;
    margin-top: 0em;
    
    position: absolute;
    top: 50%;
    left: 50%;
    
}*/